openapi: 3.2.0
info:
  title: Finn-tannlege.com A2a API
  description: REST API for Norwegian dental clinic discovery, sourced from Brreg, HPR, and direct enrichment. All read endpoints are public; no authentication required.
  version: 0.1.0
  contact:
    url: https://finn-tannlege.com/kontakt
  license:
    name: CC0 (Brreg data)
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://finn-tannlege.com
  description: Production
tags:
- name: A2a
paths:
  /a2a:
    get:
      operationId: getDentalA2ACard
      summary: A2A agent card (health check)
      responses:
        '200':
          description: Agent card JSON
          content:
            application/json:
              schema:
                type: object
      tags:
      - A2a
    post:
      operationId: dentalA2AJsonRpc
      summary: A2A JSON-RPC 2.0 endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - method
              - id
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                method:
                  type: string
                  enum:
                  - message/send
                params:
                  type: object
                id:
                  type:
                  - string
                  - number
            examples:
              search:
                summary: Search clinics by county
                value:
                  jsonrpc: '2.0'
                  method: message/send
                  params:
                    message:
                      text: finn tannlege i Oslo
                  id: '1'
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                  result:
                    type: object
                  error:
                    type: object
                  id:
                    type:
                    - string
                    - number
      tags:
      - A2a
