openapi: 3.2.0
info:
  title: Finn Tannlege Com MCP API
  version: 0.1.0
  contact:
    url: https://finn-tannlege.com/kontakt
  license:
    name: CC0 (Brreg data)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  description: 'Operations tagged Mcp across 2 of this provider''s published API definitions: finn-tannlege-com-openapi.json, finn-tannlege-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://finn-tannlege.com
  description: Production
tags:
- name: MCP
paths:
  /mcp:
    post:
      operationId: dentalMcpStreamableHttp
      summary: MCP Streamable HTTP endpoint (PR-114)
      description: 'Model Context Protocol (MCP) Streamable HTTP transport for finn-tannlege.com. Exposes 5 tools: tannlege_search, tannlege_info, tannlege_stats, tannlege_akutt, tannlege_kjeder. Compatible with ChatGPT (paste URL as MCP server), Claude Desktop, and any MCP client.'
      externalDocs:
        description: MCP Streamable HTTP spec
        url: https://modelcontextprotocol.io/docs/concepts/transports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: MCP JSON-RPC 2.0 message
      responses:
        '200':
          description: MCP JSON-RPC response or SSE stream
          content:
            application/json:
              schema:
                type: object
            text/event-stream:
              schema:
                type: string
      tags:
      - MCP
    get:
      operationId: dentalMcpSse
      summary: MCP SSE notification stream
      description: Server-Sent Events stream for MCP server-to-client notifications. Requires mcp-session-id header.
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          description: Missing or invalid mcp-session-id
      tags:
      - MCP
    servers:
    - url: https://finn-tannlege.com
      description: Production
x-refined-from:
- finn-tannlege-com-openapi.json
- finn-tannlege-com-openapi.yml
